﻿.single-service:hover {
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.single-service {
    background: #fff none repeat scroll 0 0;
    padding: 30px;
    text-align: center;
    transition: .3s;
    margin-bottom: 30px;
}

    .single-service span {
        background: #ffff none repeat scroll 0 0;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        width: 80px;
    }

    .single-service > h2 {
        font-size: 25px;
        text-transform: capitalize;
    }

.single-service {
    border-radius: 4px;
    margin-bottom: 30px;
}



.single-fact {
    margin-bottom: 30px;
}

    .single-fact span {
        color: #fff;
    }

.single-fact {
    text-align: center;
}

    .single-fact span {
        background: #75a733 none repeat scroll 0 0;
        border-radius: 50%;
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        height: 100px;
        line-height: 100px;
        width: 100px;
    }

    .single-fact h6 {
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
    }

    /*EXPERTES*/



.skill-area {
    background: rgba(0, 0, 0, 0) url("http://res.cloudinary.com/saletancy-com/image/upload/v1520972038/Saletancy_success-min_nleamb.jpg") repeat fixed center top;
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    z-index: 1;
}

#tp {
    height: 600px;
}

.skill-area:after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

div.section-title.white-color h2, div.section-title.white-color p {
    color: #fff;
}

/*.single-progress-bar {
    margin-bottom: 30px;
}

.progress-bar-text {
    text-align: center;
}

    .progress-bar-text h2 {
        color: #fff;
        text-transform: capitalize;
    }

.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

    .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 12px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 3;
    }

    .progress .progress-left {
        left: 0;
    }

    .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 12px;
        border-style: solid;
        position: absolute;
        top: 0;
    }

    .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .progress .progress-right {
        right: 0;
    }

        .progress .progress-right .progress-bar {
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
            animation: loading-1 1.8s linear forwards;
        }

    .progress .progress-value {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background: #44484b;
        font-size: 24px;
        color: #fff;
        line-height: 135px;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    .progress.blue .progress-bar {
        border-color: #049dff;
    }

    .progress.blue .progress-left .progress-bar {
        animation: loading-2 1.5s linear forwards 1.8s;
    }

    .progress.yellow .progress-bar {
        border-color: #fdba04;
    }

    .progress.yellow .progress-left .progress-bar {
        animation: loading-3 1s linear forwards 1.8s;
    }

    .progress.pink .progress-bar {
        border-color: #ed687c;
    }

    .progress.pink .progress-left .progress-bar {
        animation: loading-4 0.4s linear forwards 1.8s;
    }

    .progress.green .progress-bar {
        border-color: #1abc9c;
    }

    .progress.green .progress-left .progress-bar {
        animation: loading-5 1.2s linear forwards 1.8s;
    }*/

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

/*=======TAB=========*/
.tab-content {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    clear: both;
    padding: 30px;
}

.penal-text > p {
    margin: 0;
}

.penel-image img {
    border-radius: 4px;
    height: 180px;
    width: 200px;
}

.penal-text {
    text-align: left;
}

.penel-image {
    float: left;
    margin-right: 15px;
}

.uol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .list a:hover:not(.active) {
        background-color: forestgreen;
        color: white;
    }

    /*Start next project*/
.start-your-project-area {
    background: #7eb831 none repeat scroll 0 0;
    padding: 30px 0;
}

.start-project-info-text h2 {
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px 0 0;
    text-transform: capitalize;
}

button.g-t-project {
    background: #232323 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-weight: 500;
    padding: 14px 25px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: transform;
    vertical-align: middle;
    width: 270px;
}

    button.g-t-project:before {
        background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center, rgba(0, 0, 0, 0.35) 0%, transparent 80%) repeat scroll 0 0;
        content: "";
        height: 10px;
        left: 5%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transition-duration: 0.3s;
        transition-property: transform, opacity;
        width: 90%;
        z-index: -1;
    }

    button.g-t-project:hover, button.g-t-project:focus, button.g-t-project:active {
        transform: translateY(-5px);
    }

        button.g-t-project:hover:before, button.g-t-project:focus:before, button.g-t-project:active:before {
            opacity: 1;
            transform: translateY(5px);
        }
        /*Pricing*/
.single-prices {
    position: relative;
}

.prices-area {
    padding-bottom: 50px;
    padding-top: 80px;
}

.pricing-prices > h2 {
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 2px;
}

.prices-details ul li {
    list-style: outside none none;
}

.prices-header {
    background: #fbfbfb none repeat scroll 0 0;
    border-bottom: 2px solid #dedede;
    padding: 10px 0;
}

    .prices-header > h2 {
        font-size: 28px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

.single-prices {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #f1f1f1;
    margin-bottom: 30px;
    text-align: center;
}

button.prices-btn {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
    background: #252525 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 20px;
    transition: all 0.3s ease 0s;
    width: 100%;
}

    button.prices-btn:before {
        background: #7cb62f;
        bottom: 0;
        content: "";
        left: 0;
        border-radius: 4px;
        position: absolute;
        right: 0;
        top: 0;
        transform: scaleX(0);
        transform-origin: 0 50% 0;
        transition-duration: 0.3s;
        transition-property: transform;
        transition-timing-function: ease-out;
        z-index: -1;
    }

    button.prices-btn:hover, button.prices-btn:focus, button.prices-btn:active {
        color: white;
    }

        button.prices-btn:hover:before, button.prices-btn:focus:before, button.prices-btn:active:before {
            transform: scaleX(1);
        }

.prices-details ul li {
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;
}

span.p_date {
    letter-spacing: 1px;
    text-transform: capitalize;
}

.pricing-prices span {
    font-weight: 400;
}

div.see-more-items {
    margin-top: 0;
    text-align: center;
}

.pricing-prices {
    background: #252525 none repeat scroll 0 0;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.pricing-table-active .pricing-prices, .pricing-table-active button.prices-btn {
    background: #75a733;
    color: #fff;
}


/*========================CAREER PAGE========================*/

/*Header Image*/
